* Name : Aniket Kale
* Python DSS770

In [1]:
# problem 1
print(3+4*5)

23

In [2]:
# Problem 3
a = 3
b = 4
c = a + b
print(c*a)

21

In [3]:
print(a-b)

-1

In [4]:
print(b*b)

16

In [5]:
# Exercise 1 to 12 (only Odd)
print(3*4)
print(1/2**3)
print((5-3)*4)
print(7//3)
print(7%3)
print(5//5)

12
0.125
8
2
1
1

In [6]:
# Excercise 13 to 18 
#sales.2008

In [7]:
#Room&Board

* Conclusion :
* for declaration of any variable name it should have character not number and should be in continous form
* for example  var_len

In [8]:
# Problem 19 to 24 only Odd 
a = 2
b = 3
c = 4
print((a * b) + c)
print((1 + b) * c)
print((b **(c - a)))

10
16
9

In [9]:
# problem 25 to 30. only odd
print((7*8)+5)
print((5.5/100)*(20))
print((17*(3+162)))

61
1.1
2805

In [10]:
# problem 31
x = 2
y = 3 * x
print(y+5)
print(x+4)
print(y+1)

11
6
7

In [11]:
# prob 33 to 38 only odd
a = 4
b = 5 * a
print(a+b)

24

In [12]:
num = 5
num *= 2
print(num)

10

In [13]:
totalmin = 135
hours = totalmin// 60
minutes = totalmin % 60
print(hours, minutes)

2 15

In [14]:
# prob 39
a = 2
b = 3
# a + b = c # we cannot assign variable to operator
c = a + b
print(b)

3

In [15]:
# 41
#0.05 = interest
#balance = 500
#print(interest*balance)
# it will show the error
# cannot assign to literal
# so we ccanot assign 0.05 = interest instead of that we can assign like interest = 0.05

In [16]:
# problem 42 to 48
print(int(10.75))
print(abs(3-10))
print(round(3.1455, 3))

10
7
3.146

In [17]:
# Excercise 49 to 54
a = 5
b = 3
print(int(a)/2)
print(abs(a-5))
print(round(a+0.5))

2.5
0
6

In [18]:
# Calculate Profit 
revenue =  98456
cost = 45000
profit = revenue-cost
print(profit)

53456

In [19]:
# Price of an item after 30 pecent reduction
price = 19.95
dispercent = 30
markdown = (dispercent/100) * price
price = price-markdown
print(round(price,2))

13.96

In [20]:
# Saving Account
balance = 100
balance = (0.05) + 100
balance =  0.05 + balance 
balance =  0.05 + balance
balance

100.14999999999999

In [21]:
# 67
balance = 100
balance = balance * ((1.05)**10)
print(round(balance,2))

162.89

In [22]:
# 69 corn production
each_acre = 18
each_acre*30

540

In [23]:
# 71
hours = 5
distance = 233
speed = distance/hours
speed

46.6

In [24]:
# water usage
each_person = 1600
population = 315000000
each_year = population*(each_person*365)
print("gallon used each year:",each_year)

gallon used each year: 183960000000000

In [25]:
# 75
total = (70000*100)/12
print("total restaraunts in US:",total)

total restaraunts in US: 583333.3333333334

In [26]:
# 77
debt = 1.68 * 10**11
pop = 3.1588 * 10**8
print(round(pop/debt,4))

0.0019

# Assignment Page number 43- 49 (Odd Examples) 1-111

In [27]:
print("python")

python

In [28]:
var = "earnie"
print(var)

earnie

In [29]:
# point out 4 th index starts from 0
"python"[4]

'o'

In [30]:
"python"[-3]

'h'

In [31]:
"python"[0:3]

'pyt'

In [32]:
print("python"[:2])
print("python"[-3:-2])
print("python"[2:-2])
print("python"[:2])
print("python"[:])

py
h
th
py
python

In [33]:
"python".find("tho")

2

In [34]:
"python".find("oh")

-1

In [35]:
"whipeerranger".rfind("rr")

6

In [36]:
"missippi".find("ss")

2

In [37]:
"kinckknack".count("k")

4

In [38]:
"8 ball".lower()

'8 ball'

In [39]:
"8 ball".upper()

'8 BALL'

In [40]:
"python"[3:len("python")]

'hon'

In [41]:
"the artist".title()

'The Artist'

In [42]:
len("Grand Hotel"[:6].rstrip())

5

In [43]:
"Amazon".lower().count("a")

2

In [44]:
"king KONg".title()

'King Kong'

In [45]:
# prob 47
a = 4
b = 6
c = "municipalty"
d = "pal"
print(len(c))
print(c.upper())
print(c.find("c"))
print(c[a:b] + c[b + 4:])

11
MUNICIPALTY
4
ciy

In [46]:
print("f" + "lute")

flute

In [47]:
print("your age is :" + str(21) + ".")

your age is :21.

In [48]:
print("fred has " + str(2) +  " childeren")

fred has 2 childeren

In [49]:
r = " A rose"
b = " IS"
print(r+b+r)

 A rose IS A rose

In [50]:
var = "MALLA"
var += var
print(var)

MALLAMALLA

In [51]:
str1 = "good"
str1 += "bye"
print(str1)

goodbye

In [52]:
print("a" +(" " * 5 )+ b)

a      IS

In [53]:
n  = "tremnobos"
s = 45
print(n, s)

tremnobos 45

In [54]:
# 65
num = input("Enter an integer:")
print("1" + str(num))

Enter an integer:4
14

In [55]:
num = float(input("Enter a number:"))
print(1+num)

Enter a number:4
5.0

In [56]:
films = "the great gatsby".title()[:10].rstrip()
print(films, len(films))

The Great 9

In [57]:
str1 = "Aniket"
str1[-1]

't'

In [58]:
str1 = "Aniket"
N  = len(str1)
str1[N-1:]

't'

In [59]:
# Phone number should be in quotes not in numbers
Phonenumber = "234-4567"
print("my phone nuber is" + Phonenumber)

my phone nuber is234-4567

In [60]:
print("my name is Aniket.")

my name is Aniket.

In [61]:
# int has not attribute of find so we need to convert into the string
num = "1234"
num.find("2")

1

In [62]:
language = "python"
language[3]

'h'

In [63]:
Firstname = "Thomas"
MiddleName = " alva"
lastName = " Edison"
YearOfBirth = " 1987"
print(Firstname + MiddleName + lastName + YearOfBirth)

Thomas alva Edison 1987

In [64]:
num  = int(input("enter number of seconds between lighthing and thunder:"))
print("Distance from thunder", num/5)

enter number of seconds between lighthing and thunder:3
Distance from thunder 0.6

In [65]:
num = input("Enter name of Team")
num1 = int(input("Num of Won :"))
num2 = int(input("Num of lost :"))
print("Winning percentage", (num1/(num1+num2))*100)

Enter name of Teamw
Num of Won :2
Num of lost :2
Winning percentage 50.0

In [66]:
num1 = int(input("Enter skidded distance:"))
num2 = (24*num1)**1/2
print("Estimatted speed", num2)

Enter skidded distance:4
Estimatted speed 48.0

In [67]:
# Interest rate
tax = float(input("Enter tax bracket:"))
munciple = float(input("Enter munciple interest rate as % :"))
result = munciple/(1-tax)
print("Equivalent int rate %", result)

Enter tax bracket:5
Enter munciple interest rate as % :4
Equivalent int rate % -1.0

In [68]:
# Convert Month
num1 = int(input("Enter a months :"))
year = num1/12
print("Num of years", year)

Enter a months :2
Num of years 0.16666666666666666

# Page Number 54-56 Odd examples only

In [69]:
print("bon", "voyage", "!", sep= ",")

bon,voyage,!

In [70]:
print(1, 2, 3 , sep="x")

1x2x3

In [71]:
print("father", "in", "law", sep="-")

father-in-law

In [72]:
print("T", end="-")

T-

In [73]:
print("hell\nnewline\n")

hell
newline

In [74]:
print("NUMBER\tsquare")

NUMBER	square

In [75]:
print(str(2), "\t", str(2**2))

2 	 4

In [76]:
print("hello \t world")

hello 	 world

In [77]:
print("01234567890")
print("A".rjust(5), "B".center(5), sep=",")

01234567890
    A,  B

In [78]:
print("0123456789")
print("{0:10.2%}".format(.123))
print("{0:^10.1%}".format(1.23))

0123456789
    12.30%
  123.0%

In [79]:
print("{0:10s}{1:^16s}{2:s}".format("Language", "native language", "% world population"))

Language  native language % world population

In [80]:
print("{0:10s}{1:^16,d}{2:10.2%}".format("Manderian", 12345679, 0.141))

Manderian    12,345,679       14.10%

In [81]:
X = 3
Y = 4
print("the product of {0:d} and {1:d} is {2:d}".format(X, Y, X*Y))

the product of 3 and 4 is 12

In [82]:
str1 = "you missed {0:.0%} shots you never take. - wayne gretsky"
print(str1.format(1))

you missed 100% shots you never take. - wayne gretsky

In [83]:
print("{0:s}, {1:s} {0:s}".format("abra", "cad"))

abra, cad abra

In [84]:
print("hello world") 
print("hello world" , end = " t")

hello world
hello world t

In [85]:
num1 = int(input("Enter amount of bill:"))
tip = int(input("Enter percentage tip:"))
result = (tip/100) * num1
print("tip $", result)

Enter amount of bill:34
Enter percentage tip:2
tip $ 0.68

In [86]:
Salary = int(input("Enter amount of Salary:"))
increase = Salary*1.10
decrease = increase-(0.10*increase)
print("percentage change in salary", (increase-decrease)/increase*100)
print("New salary", decrease)

Enter amount of Salary:4
percentage change in salary 9.999999999999998
New salary 3.9600000000000004

# Page 66-76 Only Odd examples

In [87]:
states = ["delaware", "penn", "alaska", "New Jersy", "California", "Arizona", "utah", "okhelema"]

In [88]:
print(states[1], states[-1])

penn okhelema

In [89]:
# will prinout the result out of index
#print(states[48])

In [90]:
print(states.index("alaska"))

2

In [91]:
# print(states.index("ohio")) # Not in list error

In [92]:
states[0] = states[0].upper()
print(states[0])

DELAWARE

In [93]:
states.append("ohi")
print(states)

['DELAWARE', 'penn', 'alaska', 'New Jersy', 'California', 'Arizona', 'utah', 'okhelema', 'ohi']

In [94]:
states.insert(0,"US")
states

['US',
 'DELAWARE',
 'penn',
 'alaska',
 'New Jersy',
 'California',
 'Arizona',
 'utah',
 'okhelema',
 'ohi']

In [95]:
# Above you have seen double records if we execute that cell again it will append the record again in list

In [96]:
states[5:8]

['California', 'Arizona', 'utah']

In [97]:
states[:4]

['US', 'DELAWARE', 'penn', 'alaska']

In [98]:
states[1:8][3]

'New Jersy'

In [99]:
states[-2:len(states)]

['okhelema', 'ohi']

In [100]:
states[-1:len(states)]

['ohi']

In [101]:
states[1] = "commenwealth of penn"

In [102]:
states

['US',
 'commenwealth of penn',
 'penn',
 'alaska',
 'New Jersy',
 'California',
 'Arizona',
 'utah',
 'okhelema',
 'ohi']

In [103]:
del states[0]

In [104]:
states

['commenwealth of penn',
 'penn',
 'alaska',
 'New Jersy',
 'California',
 'Arizona',
 'utah',
 'okhelema',
 'ohi']

In [105]:
states[-4].split()

['Arizona']

* FOLLOWING are the example of list indexing we can access the list index by mention in bracket
* assume list1 has 100 items 
* below are examples, we can access the list.
* list1[-8:]

In [106]:
num = [4, 5, 2, 7]
max(num)

7

In [107]:
min(num)

2

In [108]:
sum(num)

18

In [109]:
# average
sum(num)/len(num)

4.5

In [110]:
l = ["contains", "maximum", "part", "python"]
l.insert(0,"this")
l

['this', 'contains', 'maximum', 'part', 'python']

In [111]:
del l[4]

In [112]:
l

['this', 'contains', 'maximum', 'part']

In [113]:
print(" ".join(l))

this contains maximum part

In [115]:
name = input("Enter name with three part:")
l = name.split()
print(l[0], l[1])

Enter name with three part:aniket kale
aniket kale

In [116]:
tuple1 = ["with", "character", "films", "actress", "actors"]
tuple2 = tuple1[4:] + tuple1[3:]
tuple2

['actors', 'actress', 'actors']

In [117]:
allday = "all-day-around-the-clock"
allday.split("-")

['all', 'day', 'around', 'the', 'clock']

In [118]:
nations = "india\nengland\n america\n newzealand"
nations.split()

['india', 'england', 'america', 'newzealand']

In [119]:
infile = open("star1.txt", "r")
words = [line.rstrip() for line in infile]
words

['your', 'own', 'star.']

In [120]:
infile.close()

In [121]:
nums = [3,9,6]
list(nums)

[3, 9, 6]

In [122]:
word = "etch"
L = list(word)
L[1]

't'

In [123]:
list1= ["Aniket", "kale"]
list2= ["US"]
list1 + list2

['Aniket', 'kale', 'US']

In [124]:
infile = open("Live1.txt", "r")
words = [line.rstrip() for line in infile]
words.append("it")
words

['Live', 'let', 'it']

In [125]:
list1= ["Aniket", "kale", "sachin", "tendulkar", "msdhoni"]
list1[3:4]

['tendulkar']

In [126]:
numbers = [2,4,6,7, 3]
numbers.index(7)

3

In [ ]:
word = input("enter a any text:")
words = [line.rstrip() for line in word]
words.count(word)

In [ ]:
word = input("enter a any text:")
words = [line.rstrip() for line in word]
words.index[0]